{% extends "library_template.html.twig" %}

{% block one %}

    <h1>{{book.getTitle}}</h1>


    <form action='/update-book/{{ book.getId }}' method='post'>
        <div class='form-group'>
            <input type="hidden" name="_method" value="patch">
            <label for="title">Edit book title:</label>
            <input type='text' name='title' class='form-control' value="{{book.getTitle}}" required>
        </div>

        <button type='submit' class='btn btn-primary'>Submit</button>
    </form>

    <form action="/delete-book/{{book.getId}}" method="post">
        <input type="hidden" name="_method" value="delete"><br />

        <button class="btn btn-danger" type="submit">Delete Book</button>
    </form>

    <h4><a href='/librarian'>Back to librarian main page</a></h4>

{% endblock %}

{% block two %}

<h1>Authors of {{book.getTitle}}</h1>

{% for author in book_authors %}
<option value="{{author.getId}}">{{author.getName}}</option>
{% endfor %}


<h3>Add an author</h3>


<form action="/add-author-book" method="post">
    <input type="hidden" name="book_id" value="{{book.getId}}">
    <select class="form-group" name="author-list">
        {% for author in authors %}
        <option value="{{author.getId}}">{{author.getName}}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-warning">Add</button>
</form>


{% endblock %}
