{% extends "library_template.html.twig" %}

{% block one %}

<h1>Books</h1>

{% if books is not empty %}
    {% for book in books %}
        <ul>
            <li><a href="/books/{{book.getId}}">{{book.getName}}</a></li>
        </ul>
    {% endfor %}
{% else %}
    <p>There are no books!</p>
{% endif %}

    <form action="/add-book" method="post">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="title" placeholder="It">
        </div>

        <button type="submit" class="btn btn-info">Submit</button>
    </form>

    <form action="/add-author" method="post">
        <div class="form-group">
            <label for="name">Author:</label>
            <input type="text" name="name" placeholder="Stephen King">
        </div>

        <button type="submit" class="btn btn-info">Submit</button>
    </form>


{% endblock %}

{% block two %}
<p>
    test
</p>
<!-- {% if course_students is not empty %}
    <ul>
    {% for student in course_students %}
            <li>{{student.getName}}
                <form action="/remove-course-student/{{student.getId}}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="course_id" value="{{course.getId}}">
                    <button type="submit" class="btn btn-danger">Remove Student from course</button>
                </form>
            </li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no students for this course yet!</p>
{% endif %} -->

{% endblock %}
